{% if icons == 'call' %}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
    <symbol id="call" viewBox="0 0 580 580"><title>call</title>
      <path d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4
               c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8
               c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6
               c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5
               c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26
               c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9
               c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806
               C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20
               c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6
               c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1
               c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3
               c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5
               c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8
               c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9
               l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1
               C420.456,377.706,420.456,388.206,410.256,398.806z"></path>
      <path d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2
               c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11
               S248.656,111.506,256.056,112.706z"></path>
      <path d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11
               c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2
               c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z"></path>
    </symbol>
  </svg>
  <svg class="icon" viewBox="0 0 40 40"><use xlink:href="#call" x="10%" y="8%"></use></svg>
{% elsif icons == 'cart' %}
  <div class="hidden-lg-down">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
      <symbol id="cart" viewBox="0 0 590 590"><title>cart</title>
        <path d="M258.005,218.355c2.3,2.3,5.4,3.5,8.5,3.5s6.1-1.2,8.5-3.5l73.9-73.9c4.7-4.7,4.7-12.3,0-17s-12.3-4.7-17,0l-65.4,65.5l-26.4-26.4c-4.7-4.7-12.3-4.7-17,0s-4.7,12.3,0,17L258.005,218.355z"></path><path d="M145.005,318.355h268.9c29.7,0,53.8-24.2,53.8-53.8v-113.3c0-6.6-5.4-12-12-12s-12,5.4-12,12v113.2c0,16.5-13.4,29.8-29.8,29.8h-268.9c-16.5,0-29.8-13.4-29.8-29.8v-66.7v-74.6v-9.7v-70.2c0-0.4,0-0.9-0.1-1.3c0-0.1,0-0.2,0-0.3c0-0.3-0.1-0.6-0.1-0.8s-0.1-0.5-0.2-0.7c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.3-0.2-0.5-0.3-0.8c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.2-0.2-0.5-0.3-0.7c-0.1-0.1-0.1-0.3-0.2-0.4c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.2-0.3-0.4-0.4-0.5s-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.4-0.5-0.6c-0.1-0.1-0.2-0.2-0.3-0.2c-0.2-0.2-0.4-0.4-0.6-0.5c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.1-0.4-0.3-0.6-0.4c-0.2-0.2-0.5-0.3-0.7-0.5c-0.1,0-0.2-0.1-0.2-0.2c-0.4-0.2-0.8-0.4-1.2-0.6l-73.9-31c-6.1-2.6-13.1,0.3-15.7,6.4c-2.6,6,0.3,13.1,6.4,15.7l66.5,28.1v62.3v9.7v74.6v66.7v84.3c0,28.2,21.7,51.3,49.3,53.6c-5.6,8.4-8.9,18.5-8.9,29.4c0,29.3,23.9,53.2,53.2,53.2s53.2-23.9,53.2-53.2c0-10.8-3.2-20.8-8.7-29.2h127.3c-5.5,8.4-8.7,18.4-8.7,29.2c0,29.3,23.9,53.2,53.2,53.2s53.2-23.9,53.2-53.2s-23.9-53.2-53.2-53.2h-256c-16.5,0-29.8-13.4-29.8-29.8v-39.5C123.705,314.955,134.005,318.355,145.005,318.355z M213.905,431.755c0,16.1-13.1,29.2-29.2,29.2s-29.2-13.1-29.2-29.2s13.1-29.2,29.2-29.2S213.905,415.655,213.905,431.755z M430.105,431.755c0,16.1-13.1,29.2-29.2,29.2s-29.2-13.1-29.2-29.2s13.1-29.2,29.2-29.2S430.105,415.655,430.105,431.755z"></path>
      </symbol>
    </svg>
    <svg class="icon" viewBox="0 0 30 30"><use xlink:href="#cart" x="8%" y="7%"></use></svg>
  </div>
  <div class="hidden-lg-up">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
      <symbol id="cart-responsive" viewBox="0 0 510 510"><title>cart-responsive</title>
        <path d="M306.4,313.2l-24-223.6c-0.4-3.6-3.6-6.4-7.2-6.4h-44.4V69.6c0-38.4-31.2-69.6-69.6-69.6c-38.4,0-69.6,31.2-69.6,69.6
                 v13.6H46c-3.6,0-6.8,2.8-7.2,6.4l-24,223.6c-0.4,2,0.4,4,1.6,5.6c1.2,1.6,3.2,2.4,5.2,2.4h278c2,0,4-0.8,5.2-2.4
                 C306,317.2,306.8,315.2,306.4,313.2z M223.6,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4
                 C217.2,126.4,220,123.6,223.6,123.6z M106,69.6c0-30.4,24.8-55.2,55.2-55.2c30.4,0,55.2,24.8,55.2,55.2v13.6H106V69.6z
                 M98.8,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4C92.4,126.4,95.2,123.6,98.8,123.6z M30,306.4
                 L52.4,97.2h39.2v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2
                 V97.2h110.4v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2V97.2
                 H270l22.4,209.2H30z"/>
      </symbol>
    </svg>
    <svg class="icon" viewBox="0 0 40 40"><use xlink:href="#cart-responsive" x="13%" y="13%"></use></svg>
  </div>
{% elsif icons == 'desk_menu' %}
	<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300">
      <rect x="0" y="70.333" width="42.667" height="35.667"></rect>
      <rect x="0" y="160.667" width="42.667" height="35.667"></rect>
      <rect x="0" y="250" width="42.667" height="35.667"></rect>
      <rect x="85.333" y="70.333" width="230.557" height="35.667"></rect>
      <rect x="85.333" y="160.667" width="230.557" height="35.667"></rect>
      <rect x="85.333" y="250" width="230.557" height="35.667"></rect>
	</svg>
{% elsif icons == 'link_icon' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
      <symbol id="link_icon" viewBox="0 0 699 699"><title>link_icon</title>
        <path d="M12.03,120.303h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
			c-6.641,0-12.03,5.39-12.03,12.03C0,114.913,5.39,120.303,12.03,120.303z"/>
		<path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
			S379.58,180.455,372.939,180.455z"/>
		<path d="M372.939,264.667H132.333c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h240.606
			c6.641,0,12.03-5.39,12.03-12.03C384.97,270.056,379.58,264.667,372.939,264.667z"/>
      </symbol>
    </svg>
    <svg class="icon" viewBox="0 0 30 30"><use xlink:href="#link_icon" x="22%" y="25%"></use></svg>
{% elsif icons == 'menu' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="menu" viewBox="0 0 750 750"><title>menu</title>
	      	<path d="M12.03,84.212h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
			C5.39,60.152,0,65.541,0,72.182C0,78.823,5.39,84.212,12.03,84.212z"/>
			<path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
				S379.58,180.455,372.939,180.455z"/>
			<path d="M372.939,300.758H12.03c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h360.909
			c6.641,0,12.03-5.39,12.03-12.03C384.97,306.147,379.58,300.758,372.939,300.758z"/>
	    </symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#menu" x="22%" y="25%"></use></svg>
{% elsif icons == 'search' %}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
    <symbol id="search" viewBox="0 0 1200 1200"><title>search</title>
      <path d="M606.209,578.714L448.198,423.228C489.576,378.272,515,318.817,515,253.393C514.98,113.439,399.704,0,257.493,0
               C115.282,0,0.006,113.439,0.006,253.393s115.276,253.393,257.487,253.393c61.445,0,117.801-21.253,162.068-56.586
               l158.624,156.099c7.729,7.614,20.277,7.614,28.006,0C613.938,598.686,613.938,586.328,606.209,578.714z M257.493,467.8
               c-120.326,0-217.869-95.993-217.869-214.407S137.167,38.986,257.493,38.986c120.327,0,217.869,95.993,217.869,214.407
               S377.82,467.8,257.493,467.8z"/>
    </symbol>
  </svg>
  <svg class="icon" viewBox="0 0 40 40"><use xlink:href="#search" x="20%" y="22%"></use></svg>
{% elsif icons == 'quickview' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="quickview" viewBox="0 0 1050 1050"><title>quickview</title>
	      	<path d="M505.918,236.117c-26.651-43.587-62.485-78.609-107.497-105.065c-45.015-26.457-92.549-39.687-142.608-39.687
			c-50.059,0-97.595,13.225-142.61,39.687C68.187,157.508,32.355,192.53,5.708,236.117C1.903,242.778,0,249.345,0,255.818
			c0,6.473,1.903,13.04,5.708,19.699c26.647,43.589,62.479,78.614,107.495,105.064c45.015,26.46,92.551,39.68,142.61,39.68
			c50.06,0,97.594-13.176,142.608-39.536c45.012-26.361,80.852-61.432,107.497-105.208c3.806-6.659,5.708-13.223,5.708-19.699
			C511.626,249.345,509.724,242.778,505.918,236.117z M194.568,158.03c17.034-17.034,37.447-25.554,61.242-25.554
			c3.805,0,7.043,1.336,9.709,3.999c2.662,2.664,4,5.901,4,9.707c0,3.809-1.338,7.044-3.994,9.704
			c-2.662,2.667-5.902,3.999-9.708,3.999c-16.368,0-30.362,5.808-41.971,17.416c-11.613,11.615-17.416,25.603-17.416,41.971
			c0,3.811-1.336,7.044-3.999,9.71c-2.667,2.668-5.901,3.999-9.707,3.999c-3.809,0-7.044-1.334-9.71-3.999
			c-2.667-2.666-3.999-5.903-3.999-9.71C169.015,195.482,177.535,175.065,194.568,158.03z M379.867,349.04
			c-38.164,23.12-79.514,34.687-124.054,34.687c-44.539,0-85.889-11.56-124.051-34.687s-69.901-54.2-95.215-93.222
			c28.931-44.921,65.19-78.518,108.777-100.783c-11.61,19.792-17.417,41.207-17.417,64.236c0,35.216,12.517,65.329,37.544,90.362
			s55.151,37.544,90.362,37.544c35.214,0,65.329-12.518,90.362-37.544s37.545-55.146,37.545-90.362
			c0-23.029-5.808-44.447-17.419-64.236c43.585,22.265,79.846,55.865,108.776,100.783C449.767,294.84,418.031,325.913,379.867,349.04
			z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#quickview" x="26%" y="26%"></use></svg>
{% elsif icons == 'addtocart' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="addtocart" viewBox="0 0 1050 1050"><title>addtocart</title>
	      	<path d="M194.59,382.711c-35.646,0-64.646,29-64.646,64.646s29,64.646,64.646,64.646c35.646,0,64.646-29,64.646-64.646
				S230.235,382.711,194.59,382.711z M194.59,473.215c-14.261,0-25.858-11.597-25.858-25.858c0-14.261,11.597-25.858,25.858-25.858
				c14.254,0,25.858,11.597,25.858,25.858C220.448,461.617,208.851,473.215,194.59,473.215z"/>
			<path d="M385.941,382.711c-35.646,0-64.646,29-64.646,64.646s29,64.646,64.646,64.646c35.646,0,64.646-29,64.646-64.646
				S421.587,382.711,385.941,382.711z M385.941,473.215c-14.261,0-25.858-11.597-25.858-25.858
				c0-14.261,11.597-25.858,25.858-25.858c14.261,0,25.858,11.597,25.858,25.858C411.799,461.617,400.202,473.215,385.941,473.215z"
				/>
			<path d="M498.088,126.274c-3.685-4.629-9.27-7.324-15.179-7.324H143.326l-17.629-89.095c-1.545-7.803-7.699-13.873-15.528-15.308
				L32.594,0.325C22.038-1.621,11.953,5.368,10.02,15.905s5.042,20.641,15.58,22.574l64.607,11.843l56.914,287.667
				c1.797,9.083,9.768,15.631,19.025,15.631h271.512c9.031,0,16.86-6.225,18.896-15.037l45.252-195.876
				C503.137,136.947,501.767,130.896,498.088,126.274z M422.233,314.833H182.074l-31.075-157.089h307.519L422.233,314.833z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#addtocart" x="25%" y="25%"></use></svg>
{% elsif icons == 'wishlist-outline' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="wishlist-outline" viewBox="0 0 1200 1200"><title>wishlist-outline</title>
	      	<path d="M511.825,170.191c-0.14-1.786-0.298-3.155-0.44-4.095C504.22,84.955,444.691,20.73,367.434,20.73
			c-44.758,0-85.66,21.18-112.442,55.516C228.835,41.679,189.491,20.73,144.97,20.73C67.976,20.73,8.584,84.52,0.937,166.557
			c-0.147,0.956-0.295,2.12-0.43,3.489C-0.8,183.3,0.287,200.862,5.338,222.26c10.732,45.463,35.828,86.871,71.224,118.958
			l164.828,144.92c8.028,7.059,20.042,7.085,28.101,0.062l166.037-144.683c39.134-40.728,62.393-77.366,71.616-119.584
			C511.771,200.731,512.848,183.284,511.825,170.191z M465.46,212.833c-7.254,33.204-26.552,63.603-59.352,97.843L255.545,441.771
			l-150.569-132.38c-28.881-26.184-49.406-60.051-58.113-96.933c-3.953-16.747-4.747-29.585-3.895-38.225
			c0.075-0.764,0.393-3.072,0.393-3.072C48.849,109.384,91.478,63.397,144.97,63.397c39.823,0,73.704,24.287,90.17,63.294
			c7.338,17.382,31.97,17.382,39.308,0c16.136-38.225,52.419-63.294,92.986-63.294c53.494,0,96.121,45.99,101.609,107.786
			c0.147,1.242,0.187,1.586,0.245,2.333C469.993,182.541,469.174,195.811,465.46,212.833z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#wishlist-outline" x="30%" y="30%"></use></svg>
{% elsif icons == 'wishlist' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="wishlist" viewBox="0 0 1200 1200"><title>wishlist</title>
	      	<path d="M511.489,167.372c-7.573-84.992-68.16-146.667-144.107-146.667c-44.395,0-85.483,20.928-112.427,55.488
			c-26.475-34.923-66.155-55.488-110.037-55.488c-75.691,0-136.171,61.312-144.043,145.856c-0.811,5.483-2.795,25.045,4.395,55.68
			C15.98,267.532,40.62,308.663,76.759,341.41l164.608,144.704c4.011,3.541,9.067,5.312,14.08,5.312
			c4.992,0,10.005-1.749,14.016-5.248L436.865,340.13c24.704-25.771,58.859-66.048,70.251-118.251
			C514.391,188.514,511.66,168.268,511.489,167.372z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 30 30"><use xlink:href="#wishlist" x="30%" y="30%"></use></svg>
{% elsif icons == 'quote' %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
      <symbol id="quote" viewBox="0 0 1800 1800"><title>user</title>
        <path d="M925.036,57.197h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
		c-27.6,37.8-69.399,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l36,76c11.6,24.399,40.3,35.1,65.1,24.399
		c66.2-28.6,122.101-64.8,167.7-108.8c55.601-53.7,93.7-114.3,114.3-181.9c20.601-67.6,30.9-159.8,30.9-276.8v-239
		C975.036,79.598,952.635,57.197,925.036,57.197z"/>
		<path d="M106.036,913.497c65.4-28.5,121-64.699,166.9-108.6c56.1-53.7,94.4-114.1,115-181.2c20.6-67.1,30.899-159.6,30.899-277.5
		v-239c0-27.6-22.399-50-50-50h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
		c-27.6,37.8-69.4,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l35.9,75.8C52.336,913.497,81.236,924.298,106.036,913.497z"/>
      </symbol>
    </svg>
    <svg class="icon" viewBox="0 0 40 40"><use xlink:href="#quote" x="19%" y="19%"></use></svg>
{% elsif icons == 'mail' %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
      <symbol id="mail" viewBox="0 0 550 550"><title>mail</title>
        <path d="M506.955,1.314c-3.119-1.78-6.955-1.75-10.045,0.078L313.656,109.756c-4.754,2.811-6.329,8.943-3.518,13.697
			c2.81,4.753,8.942,6.328,13.697,3.518l131.482-77.749L210.411,303.335L88.603,266.069l158.965-94
			c4.754-2.812,6.329-8.944,3.518-13.698c-2.81-4.753-8.943-6.33-13.697-3.518L58.91,260.392c-3.41,2.017-5.309,5.856-4.84,9.791
			s3.216,7.221,7.004,8.38l145.469,44.504L270.72,439.88c0.067,0.121,0.136,0.223,0.207,0.314c1.071,1.786,2.676,3.245,4.678,4.087
			c1.253,0.527,2.57,0.784,3.878,0.784c2.563,0,5.086-0.986,6.991-2.849l73.794-72.12l138.806,42.466
			c0.96,0.293,1.945,0.438,2.925,0.438c2.116,0,4.206-0.672,5.948-1.961C510.496,409.153,512,406.17,512,403V10
			C512,6.409,510.074,3.093,506.955,1.314z M271.265,329.23c-1.158,1.673-1.779,3.659-1.779,5.694v61.171l-43.823-79.765
			l193.921-201.21L271.265,329.23z M289.486,411.309v-62.867l48.99,14.988L289.486,411.309z M492,389.483l-196.499-60.116
			L492,45.704V389.483z"/>
        <path d="M164.423,347.577c-3.906-3.905-10.236-3.905-14.143,0l-93.352,93.352c-3.905,3.905-3.905,10.237,0,14.143
			C58.882,457.024,61.441,458,64,458s5.118-0.976,7.071-2.929l93.352-93.352C168.328,357.815,168.328,351.483,164.423,347.577z"/>
        <path d="M40.071,471.928c-3.906-3.903-10.236-3.903-14.142,0.001l-23,23c-3.905,3.905-3.905,10.237,0,14.143
			C4.882,511.024,7.441,512,10,512s5.118-0.977,7.071-2.929l23-23C43.976,482.166,43.976,475.834,40.071,471.928z"/>
        <path d="M142.649,494.34c-1.859-1.86-4.439-2.93-7.069-2.93c-2.641,0-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.43-2.93,7.07
			c0,2.63,1.069,5.21,2.93,7.07c1.86,1.86,4.44,2.93,7.07,2.93s5.21-1.07,7.069-2.93c1.86-1.86,2.931-4.44,2.931-7.07
			C145.58,498.77,144.51,496.2,142.649,494.34z"/>
        <path d="M217.051,419.935c-3.903-3.905-10.233-3.905-14.142,0l-49.446,49.445c-3.905,3.905-3.905,10.237,0,14.142
			c1.953,1.953,4.512,2.929,7.071,2.929s5.118-0.977,7.071-2.929l49.446-49.445C220.956,430.172,220.956,423.84,217.051,419.935z"/>
        <path d="M387.704,416.139c-3.906-3.904-10.236-3.904-14.142,0l-49.58,49.58c-3.905,3.905-3.905,10.237,0,14.143
			c1.953,1.952,4.512,2.929,7.071,2.929s5.118-0.977,7.071-2.929l49.58-49.58C391.609,426.377,391.609,420.045,387.704,416.139z"/>
        <path d="M283.5,136.31c-1.86-1.86-4.44-2.93-7.07-2.93s-5.21,1.07-7.07,2.93c-1.859,1.86-2.93,4.44-2.93,7.08
			c0,2.63,1.07,5.2,2.93,7.06c1.86,1.87,4.44,2.93,7.07,2.93s5.21-1.06,7.07-2.93c1.859-1.86,2.93-4.43,2.93-7.06
			C286.43,140.75,285.36,138.17,283.5,136.31z"/>
      </symbol>
    </svg>
    <svg class="icon" viewBox="0 0 40 40"><use xlink:href="#mail" x="0%" y="0%"></use></svg>
{% elsif icons == 'visa' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="visa" viewBox="75 75 360 360"><title>visa</title> 
			<path style="fill:#FFFFFF;" d="M512,402.281c0,16.716-13.55,30.267-30.265,30.267H30.265C13.55,432.549,0,418.997,0,402.281V109.717
				c0-16.716,13.55-30.266,30.265-30.266h451.47c16.716,0,30.265,13.551,30.265,30.266V402.281L512,402.281z"/>
			<path style="fill:#F79F1A;" d="M113.64,258.035l-12.022-57.671c-2.055-7.953-8.035-10.319-15.507-10.632H30.993l-0.491,2.635
				C73.431,202.774,101.836,227.88,113.64,258.035z"/>
			<g>
				<polygon style="fill:#059BBF;" points="241.354,190.892 205.741,190.892 183.499,321.419 219.053,321.419 	"/>
				<path style="fill:#059BBF;" d="M135.345,321.288l56.01-130.307h-37.691l-34.843,89.028l-3.719-13.442
					c-6.83-16.171-26.35-39.446-49.266-54.098l31.85,108.863L135.345,321.288z"/>
				<path style="fill:#059BBF;" d="M342.931,278.75c0.132-14.819-9.383-26.122-29.887-35.458c-12.461-6.03-20.056-10.051-19.965-16.17
					c0-5.406,6.432-11.213,20.368-11.213c11.661-0.179,20.057,2.367,26.624,5.003l3.218,1.475l4.826-28.277
					c-7.059-2.637-18.094-5.451-31.895-5.451c-35.157,0-59.904,17.691-60.128,43.064c-0.224,18.763,17.692,29.216,31.181,35.469
					c13.847,6.374,18.493,10.453,18.404,16.171c-0.089,8.743-11.035,12.73-21.264,12.73c-14.25,0-21.8-1.965-33.509-6.843l-4.55-2.09
					l-4.998,29.249c8.303,3.629,23.668,6.801,39.618,6.933C318.361,323.342,342.663,305.876,342.931,278.75z"/>
				<path style="fill:#059BBF;" d="M385.233,301.855c4.065,0,40.382,0.045,45.566,0.045c1.072,4.545,4.333,19.565,4.333,19.565h33.011
					L439.33,191.027h-27.472c-8.533,0-14.874,2.323-18.628,10.809l-52.845,119.629h37.392
					C377.774,321.465,383.848,305.386,385.233,301.855z M409.622,238.645c-0.176,0.357,2.95-7.549,4.737-12.463l2.411,11.256
					c0,0,6.792,31.182,8.22,37.704h-29.528C398.411,267.638,409.622,238.645,409.622,238.645z"/>
				<path style="fill:#059BBF;" d="M481.735,79.451H30.265C13.55,79.451,0,93.001,0,109.717v31.412h512v-31.412
					C512,93.001,498.451,79.451,481.735,79.451z"/>
			</g>
			<path style="fill:#F79F1A;" d="M481.735,432.549H30.265C13.55,432.549,0,418.998,0,402.283v-31.412h512v31.412
				C512,418.998,498.451,432.549,481.735,432.549z"/>
			<path style="opacity:0.15;fill:#202121;enable-background:new    ;" d="M21.517,402.281V109.717
				c0-16.716,13.551-30.266,30.267-30.266h-21.52C13.55,79.451,0,93.001,0,109.717v292.565c0,16.716,13.55,30.267,30.265,30.267h21.52C35.069,432.549,21.517,418.997,21.517,402.281z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 44 33"><use xlink:href="#visa" x="0%" y="0%"></use></svg>
{% elsif icons == 'paypal' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="paypal" viewBox="75 75 400 400"><title>paypal</title>
			<path style="fill:#32A6CE;" d="M381.6,200.4c-12,0-21.6,3.2-29.6,4.8l-2.4,18.4c4-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4
				c-28.8,0-48,5.6-52,24.8c-5.6,32,29.6,32.8,43.2,18.4l-1.6,8.8h25.6l11.2-52C418.4,206.8,399.2,199.6,381.6,200.4z M383.2,254
				c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-7.2-9.6c3.2-4.8,10.4-4.8,16-4.8c1.6,0,4,0,6.4,0C384,248.4,383.2,251.6,383.2,254z"/>
			<path style="fill:#1A80AD;" d="M349.6,223.6c4-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4c-28.8,0-48,5.6-52,24.8
				c-5.6,32,29.6,32.8,43.2,18.4l-1.6,8.8h25.6l11.2-52c4.8-21.6-15.2-27.2-32.8-27.2 M383.2,254c-1.6,6.4-7.2,8.8-13.6,9.6
				c-5.6,0-10.4-3.2-7.2-9.6c3.2-4.8,10.4-4.8,16-4.8c1.6,0,4,0,6.4,0C384,248.4,383.2,251.6,383.2,254z"/>
			<polygon style="fill:#32A6CE;" points="436,176.4 415.2,280.4 440.8,280.4 462.4,176.4 "/>
			<polygon style="fill:#1A80AD;" points="454.4,176.4 415.2,280.4 440.8,280.4 462.4,176.4 436,176.4 436,176.4 "/>
			<path style="fill:#32A6CE;" d="M316.8,176.4h-47.2l-20.8,104h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2
				C347.2,194,330.4,176.4,316.8,176.4z M316,212.4c-1.6,7.2-8.8,12-16,12h-12.8l5.6-24h13.6C313.6,200.4,317.6,205.2,316,212.4z"/>
			<path style="fill:#1A80AD;" d="M316.8,176.4h-32l-36.8,104h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2
				C347.2,194,330.4,176.4,316.8,176.4z M316,212.4c-1.6,7.2-8.8,12-16,12h-12.8l5.6-24h13.6C313.6,200.4,317.6,205.2,316,212.4z"/>
			<path style="fill:#21789E;" d="M132,200.4c-12,0-21.6,3.2-28.8,4.8l-2.4,18.4c3.2-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4
				c-28,0-47.2,5.6-51.2,24.8c-5.6,32,28.8,32.8,42.4,18.4l-1.6,8.8h25.6l11.2-52C169.6,206.8,149.6,199.6,132,200.4z M134.4,254
				c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-6.4-9.6c3.2-4.8,10.4-4.8,15.2-4.8c2.4,0,4,0,6.4,0C135.2,248.4,134.4,251.6,134.4,254z
				"/>
			<path style="fill:#1A5B80;" d="M101.6,223.6c3.2-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4c-28,0-47.2,5.6-51.2,24.8
				c-5.6,32,28.8,32.8,42.4,18.4l-2.4,8.8h25.6l11.2-52c4.8-21.6-15.2-27.2-32.8-27.2 M134.4,254c-1.6,6.4-7.2,8.8-13.6,9.6
				c-5.6,0-10.4-3.2-6.4-9.6c3.2-4.8,10.4-4.8,15.2-4.8c2.4,0,4,0,6.4,0C135.2,248.4,134.4,251.6,134.4,254z"/>
			<polygon style="fill:#21789E;" points="176,200.4 201.6,200.4 205.6,245.2 231.2,200.4 257.6,200.4 196.8,312.4 168,312.4 
				186.4,278.8 "/>
			<polyline style="fill:#1A5B80;" points="201.6,202 205.6,246 231.2,200.4 257.6,200.4 196.8,312.4 168,312.4 186.4,279.6 "/>
			<path style="fill:#21789E;" d="M68.8,176.4h-48L0,280.4h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2C99.2,194,82.4,176.4,68.8,176.4z
				 M68,212.4c-1.6,7.2-8.8,12-16,12H39.2l5.6-24h13.6C65.6,200.4,69.6,205.2,68,212.4z"/>
			<path style="fill:#1A5B80;" d="M68.8,176.4H47.2L0,280.4h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2C99.2,194,82.4,176.4,68.8,176.4z
	 		M68,212.4c-1.6,7.2-8.8,12-16,12H39.2l5.6-24h13.6C65.6,200.4,69.6,205.2,68,212.4z"/>
			<g>
				<path style="fill:#06435E;" d="M127.2,228.4c-21.6,1.6-36,8-39.2,24c-5.6,32,28.8,32.8,42.4,18.4l-1.6,9.6h25.6l4-19.2L127.2,228.4
					z M134.4,254c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-6.4-9.6c3.2-4.8,10.4-4.8,15.2-4.8c2.4,0,4,0,6.4,0
					C135.2,248.4,134.4,251.6,134.4,254z"/>
				<polygon style="fill:#06435E;" points="207.2,244.4 205.6,246.8 222.4,262.8 257.6,200.4 231.2,200.4 	"/>
				<polygon style="fill:#06435E;" points="28,280.4 35.2,248.4 2.4,280.4 	"/>
			</g>
			<g>
				<polygon style="fill:#2273AA;" points="276,280.4 283.2,246.8 283.2,247.6 250.4,280.4 	"/>
				<path style="fill:#2273AA;" d="M376,228.4c-21.6,1.6-36,8-39.2,24c-5.6,32,29.6,32.8,43.2,18.4l-2.4,9.6h25.6l4-19.2L376,228.4z
					 M383.2,254c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-7.2-9.6c3.2-4.8,10.4-4.8,16-4.8c1.6,0,4,0,6.4,0
					C384,248.4,383.2,251.6,383.2,254z"/>
				<polygon style="fill:#2273AA;" points="433.6,233.2 415.2,280.4 440.8,280.4 448,248.4 	"/>
			</g>
			<g>
			<path style="fill:#32A6CE;" d="M468,193.2V182h-4v-1.6h10.4v1.6h-4v11.2H468z"/>
			<path style="fill:#32A6CE;" d="M476,193.2v-12.8h2.4l3.2,8.8c0,0.8,0.8,1.6,0.8,1.6c0-0.8,0-0.8,0.8-2.4l3.2-8.8h2.4v12.8h-1.6
				v-11.2l-4,11.2h-2.4l-4-11.2v11.2H476V193.2z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 44 33"><use xlink:href="#paypal" x="8%" y="10%"></use></svg>    
{% elsif icons == 'mastercard' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="mastercard" viewBox="75 75 400 400"><title>mastercard</title>
			<path style="fill:#FFB600;" d="M504,252c0,83.2-67.2,151.2-151.2,151.2c-83.2,0-151.2-68-151.2-151.2l0,0
				c0-83.2,67.2-151.2,150.4-151.2C436.8,100.8,504,168.8,504,252L504,252z"/>
			<path style="fill:#F7981D;" d="M352.8,100.8c83.2,0,151.2,68,151.2,151.2l0,0c0,83.2-67.2,151.2-151.2,151.2
				c-83.2,0-151.2-68-151.2-151.2"/>
			<path style="fill:#FF8500;" d="M352.8,100.8c83.2,0,151.2,68,151.2,151.2l0,0c0,83.2-67.2,151.2-151.2,151.2"/>
			<path style="fill:#FF5050;" d="M149.6,100.8C67.2,101.6,0,168.8,0,252s67.2,151.2,151.2,151.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0
				c5.6-4.8,10.4-10.4,15.2-16h-31.2c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2
				c4.8-15.2,8-31.2,8-48c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216
				c2.4-5.6,5.6-10.4,8.8-16h53.6c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2
				C150.4,100.8,150.4,100.8,149.6,100.8z"/>
			<path style="fill:#E52836;" d="M0,252c0,83.2,67.2,151.2,151.2,151.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0
				c5.6-4.8,10.4-10.4,15.2-16h-31.2c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2
				c4.8-15.2,8-31.2,8-48c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216
				c2.4-5.6,5.6-10.4,8.8-16h53.6c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2h-0.8"/>
			<path style="fill:#CB2026;" d="M151.2,403.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0c5.6-4.8,10.4-10.4,15.2-16h-31.2
				c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2c4.8-15.2,8-31.2,8-48
				c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216c2.4-5.6,5.6-10.4,8.8-16h53.6
				c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2h-0.8"/>
			<g>
				<path style="fill:#FFFFFF;" d="M204.8,290.4l2.4-13.6c-0.8,0-2.4,0.8-4,0.8c-5.6,0-6.4-3.2-5.6-4.8l4.8-28h8.8l2.4-15.2h-8l1.6-9.6
					h-16c0,0-9.6,52.8-9.6,59.2c0,9.6,5.6,13.6,12.8,13.6C199.2,292.8,203.2,291.2,204.8,290.4z"/>
				<path style="fill:#FFFFFF;" d="M210.4,264.8c0,22.4,15.2,28,28,28c12,0,16.8-2.4,16.8-2.4l3.2-15.2c0,0-8.8,4-16.8,4
					c-17.6,0-14.4-12.8-14.4-12.8H260c0,0,2.4-10.4,2.4-14.4c0-10.4-5.6-23.2-23.2-23.2C222.4,227.2,210.4,244.8,210.4,264.8z
					 M238.4,241.6c8.8,0,7.2,10.4,7.2,11.2H228C228,252,229.6,241.6,238.4,241.6z"/>
				<path style="fill:#FFFFFF;" d="M340,290.4l3.2-17.6c0,0-8,4-13.6,4c-11.2,0-16-8.8-16-18.4c0-19.2,9.6-29.6,20.8-29.6
					c8,0,14.4,4.8,14.4,4.8l2.4-16.8c0,0-9.6-4-18.4-4c-18.4,0-36.8,16-36.8,46.4c0,20,9.6,33.6,28.8,33.6
					C331.2,292.8,340,290.4,340,290.4z"/>
				<path style="fill:#FFFFFF;" d="M116.8,227.2c-11.2,0-19.2,3.2-19.2,3.2L95.2,244c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6
					c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H132l6.4-44
					C138.4,228,122.4,227.2,116.8,227.2z M120,263.2c0,2.4-1.6,15.2-11.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6
					C119.2,263.2,120,263.2,120,263.2z"/>
				<path style="fill:#FFFFFF;" d="M153.6,292c4,0,24,0.8,24-20.8c0-20-19.2-16-19.2-24c0-4,3.2-5.6,8.8-5.6c2.4,0,11.2,0.8,11.2,0.8
					l2.4-14.4c0,0-5.6-1.6-15.2-1.6c-12,0-24,4.8-24,20.8c0,18.4,20,16.8,20,24c0,4.8-5.6,5.6-9.6,5.6c-7.2,0-14.4-2.4-14.4-2.4
					l-2.4,14.4C136,290.4,140,292,153.6,292z"/>
				<path style="fill:#FFFFFF;" d="M472.8,214.4l-3.2,21.6c0,0-6.4-8-15.2-8c-14.4,0-27.2,17.6-27.2,38.4c0,12.8,6.4,26.4,20,26.4
					c9.6,0,15.2-6.4,15.2-6.4l-0.8,5.6h16l12-76.8L472.8,214.4z M465.6,256.8c0,8.8-4,20-12.8,20c-5.6,0-8.8-4.8-8.8-12.8
					c0-12.8,5.6-20.8,12.8-20.8C462.4,243.2,465.6,247.2,465.6,256.8z"/>
				<path style="fill:#FFFFFF;" d="M29.6,291.2l9.6-57.6l1.6,57.6H52l20.8-57.6L64,291.2h16.8l12.8-76.8H67.2l-16,47.2l-0.8-47.2H27.2
					l-12.8,76.8H29.6z"/>
				<path style="fill:#FFFFFF;" d="M277.6,291.2c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0
					c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8h-15.2L260,292h17.6V291.2z"/>
				<path style="fill:#FFFFFF;" d="M376.8,227.2c-11.2,0-19.2,3.2-19.2,3.2l-2.4,13.6c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6
					c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H392l6.4-44
					C399.2,228,382.4,227.2,376.8,227.2z M380.8,263.2c0,2.4-1.6,15.2-11.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6
					C380,263.2,380,263.2,380.8,263.2z"/>
				<path style="fill:#FFFFFF;" d="M412,291.2c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0
					c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8h-15.2L394.4,292H412V291.2z"/>
			</g>
			<g>
			<path style="fill:#DCE5E5;" d="M180,279.2c0,9.6,5.6,13.6,12.8,13.6c5.6,0,10.4-1.6,12-2.4l2.4-13.6c-0.8,0-2.4,0.8-4,0.8
				c-5.6,0-6.4-3.2-5.6-4.8l4.8-28h8.8l2.4-15.2h-8l1.6-9.6"/>
			<path style="fill:#DCE5E5;" d="M218.4,264.8c0,22.4,7.2,28,20,28c12,0,16.8-2.4,16.8-2.4l3.2-15.2c0,0-8.8,4-16.8,4
				c-17.6,0-14.4-12.8-14.4-12.8H260c0,0,2.4-10.4,2.4-14.4c0-10.4-5.6-23.2-23.2-23.2C222.4,227.2,218.4,244.8,218.4,264.8z
				 M238.4,241.6c8.8,0,10.4,10.4,10.4,11.2H228C228,252,229.6,241.6,238.4,241.6z"/>
			<path style="fill:#DCE5E5;" d="M340,290.4l3.2-17.6c0,0-8,4-13.6,4c-11.2,0-16-8.8-16-18.4c0-19.2,9.6-29.6,20.8-29.6
				c8,0,14.4,4.8,14.4,4.8l2.4-16.8c0,0-9.6-4-18.4-4c-18.4,0-28.8,16-28.8,46.4c0,20,1.6,33.6,20.8,33.6
				C331.2,292.8,340,290.4,340,290.4z"/>
			<path style="fill:#DCE5E5;" d="M95.2,244.8c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0
				c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H132l6.4-44c0-18.4-16-19.2-22.4-19.2
				 M128,263.2c0,2.4-9.6,15.2-19.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6C119.2,263.2,128,263.2,128,263.2z"/>
			<path style="fill:#DCE5E5;" d="M136,290.4c0,0,4.8,1.6,18.4,1.6c4,0,24,0.8,24-20.8c0-20-19.2-16-19.2-24c0-4,3.2-5.6,8.8-5.6
				c2.4,0,11.2,0.8,11.2,0.8l2.4-14.4c0,0-5.6-1.6-15.2-1.6c-12,0-16,4.8-16,20.8c0,18.4,12,16.8,12,24c0,4.8-5.6,5.6-9.6,5.6"/>
			<path style="fill:#DCE5E5;" d="M469.6,236c0,0-6.4-8-15.2-8c-14.4,0-19.2,17.6-19.2,38.4c0,12.8-1.6,26.4,12,26.4
				c9.6,0,15.2-6.4,15.2-6.4l-0.8,5.6h16l12-76.8 M468.8,256.8c0,8.8-7.2,20-16,20c-5.6,0-8.8-4.8-8.8-12.8c0-12.8,5.6-20.8,12.8-20.8
				C462.4,243.2,468.8,247.2,468.8,256.8z"/>
			<path style="fill:#DCE5E5;" d="M29.6,291.2l9.6-57.6l1.6,57.6H52l20.8-57.6L64,291.2h16.8l12.8-76.8h-20l-22.4,47.2l-0.8-47.2h-8.8
				l-27.2,76.8H29.6z"/>
			<path style="fill:#DCE5E5;" d="M260.8,291.2h16.8c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0
				c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8"/>
			<path style="fill:#DCE5E5;" d="M355.2,244.8c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0
				c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H392l6.4-44c0-18.4-16-19.2-22.4-19.2
				 M388,263.2c0,2.4-9.6,15.2-19.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6C380,263.2,388,263.2,388,263.2z"/>
			<path style="fill:#DCE5E5;" d="M395.2,291.2H412c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0
				c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8"/> 
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 44 33"><use xlink:href="#mastercard" x="3%" y="6%"></use></svg>
{% elsif icons == 'discover' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="discover" viewBox="75 75 400 400"><title>discover</title>
			<circle style="fill:#EF9122;" cx="263.2" cy="211.6" r="41.6"/>
			<path style="fill:#F26E21;" d="M221.6,211.6c0-23.2,18.4-41.6,41.6-41.6s41.6,18.4,41.6,41.6s-18.4,41.6-41.6,41.6"/>
			<path style="fill:#F44500;" d="M234.4,182c16-16,42.4-16,58.4,0s16,42.4,0,58.4"/>
			<path style="fill:#595A5B;" d="M22.4,172.4H0v78.4h22.4c12,0,20.8-3.2,28-8.8c8.8-7.2,14.4-18.4,14.4-30.4
				C64.8,188.4,48,172.4,22.4,172.4z M40.8,231.6c-4.8,4-11.2,6.4-20.8,6.4h-4.8v-52h4c9.6,0,16,1.6,20.8,6.4c5.6,4.8,8.8,12,8.8,19.2
				C49.6,218.8,46.4,226.8,40.8,231.6z"/>
			<rect id="SVGCleanerId_0" x="72" y="172.4" style="fill:#595A5B;" width="15.2" height="78.4"/>
			<path style="fill:#595A5B;" d="M125.6,202.8c-9.6-3.2-12-5.6-12-9.6c0-4.8,4.8-8.8,11.2-8.8c4.8,0,8.8,1.6,12.8,6.4l8-10.4
				c-6.4-5.6-14.4-8.8-23.2-8.8c-13.6,0-24.8,9.6-24.8,22.4c0,11.2,4.8,16,19.2,21.6c6.4,2.4,8.8,3.2,10.4,4.8c3.2,1.6,4.8,4.8,4.8,8
				c0,6.4-4.8,11.2-12,11.2s-13.6-4-16.8-10.4l-9.6,9.6c7.2,10.4,16,15.2,27.2,15.2c16,0,27.2-10.4,27.2-25.6
				C148,214.8,143.2,209.2,125.6,202.8z"/>
			<path style="fill:#3B3D3F;" d="M152.8,211.6c0,23.2,18.4,40.8,41.6,40.8c6.4,0,12-1.6,19.2-4.8v-18.4c-6.4,6.4-12,8.8-18.4,8.8
				c-15.2,0-26.4-11.2-26.4-27.2c0-15.2,11.2-27.2,25.6-27.2c7.2,0,12.8,2.4,19.2,8.8V174c-6.4-3.2-12-4.8-19.2-4.8
				C172,170.8,152.8,189.2,152.8,211.6z"/>
			<polygon style="fill:#3B3D3F;" points="339.2,225.2 318.4,172.4 301.6,172.4 334.4,253.2 343.2,253.2 377.6,172.4 360.8,172.4 "/>
			<polygon style="fill:#3B3D3F;" points="384,250.8 428,250.8 428,238 400,238 400,216.4 427.2,216.4 427.2,202.8 400,202.8 400,186 428,186 428,172.4 
				384,172.4 "/>
			<g>
				<path style="fill:#3B3D3F;" d="M471.2,218c12-2.4,18.4-10.4,18.4-22.4c0-14.4-10.4-23.2-28-23.2h-23.2v78.4h15.2v-31.2h2.4
					l21.6,31.2H496L471.2,218z M458.4,208.4h-4.8v-24h4.8c9.6,0,15.2,4,15.2,12S468,208.4,458.4,208.4z"/>
				<path style="fill:#3B3D3F;" d="M22.4,172.4H0v78.4h22.4c12,0,20.8-3.2,28-8.8c8.8-7.2,14.4-18.4,14.4-30.4
					C64.8,188.4,48,172.4,22.4,172.4z M40.8,231.6c-4.8,4-11.2,6.4-20.8,6.4h-4.8v-52h4c9.6,0,16,1.6,20.8,6.4c5.6,4.8,8.8,12,8.8,19.2
					C49.6,218.8,46.4,226.8,40.8,231.6z"/>
			</g>
			<g>
				<rect id="SVGCleanerId_0_1_" x="72" y="172.4" style="fill:#595A5B;" width="15.2" height="78.4"/>
			</g>
			<g>
				<path style="fill:#595A5B;" d="M125.6,202.8c-9.6-3.2-12-5.6-12-9.6c0-4.8,4.8-8.8,11.2-8.8c4.8,0,8.8,1.6,12.8,6.4l8-10.4
					c-6.4-5.6-14.4-8.8-23.2-8.8c-13.6,0-24.8,9.6-24.8,22.4c0,11.2,4.8,16,19.2,21.6c6.4,2.4,8.8,3.2,10.4,4.8c3.2,1.6,4.8,4.8,4.8,8
					c0,6.4-4.8,11.2-12,11.2s-13.6-4-16.8-10.4l-9.6,9.6c7.2,10.4,16,15.2,27.2,15.2c16,0,27.2-10.4,27.2-25.6
					C148,214.8,143.2,209.2,125.6,202.8z"/>
				<path style="fill:#595A5B;" d="M195.2,252.4c6.4,0,12-1.6,19.2-4.8v-18.4c-6.4,6.4-12,8.8-18.4,8.8c-15.2,0-26.4-11.2-26.4-27.2
					c0-8,3.2-14.4,8-20l-10.4-10.4c-8,7.2-13.6,18.4-13.6,30.4C152.8,234.8,171.2,252.4,195.2,252.4z"/>
			</g>
			<path style="fill:#3B3D3F;" d="M471.2,218c12-2.4,18.4-10.4,18.4-22.4c0-14.4-10.4-23.2-28-23.2h-23.2v78.4h15.2v-31.2h2.4l21.6,31.2H496L471.2,218z
				 M458.4,208.4h-4.8v-24h4.8c9.6,0,15.2,4,15.2,12S468,208.4,458.4,208.4z"/>
			<g>
				<path style="fill:#F26E21;" d="M112.8,323.6v-44l30.4,31.2V282h6.4v44l-30.4-31.2v28.8L112.8,323.6L112.8,323.6z"/>
				<path style="fill:#F26E21;" d="M181.6,288.4h-16.8v9.6h16v6.4h-16V318h16.8v5.6h-23.2V282h23.2V288.4z"/>
				<path style="fill:#F26E21;" d="M201.6,288.4v35.2h-6.4v-35.2h-9.6v-5.6h25.6v5.6H201.6z"/>
				<path style="fill:#F26E21;" d="M220.8,282.8l10.4,28l11.2-29.6l10.4,29.6l11.2-28h8l-18.4,44l-10.4-29.6L232,326.8l-17.6-44H220.8z
					"/>
				<path style="fill:#F26E21;" d="M272.8,302.8c0-5.6,2.4-11.2,6.4-15.2s9.6-6.4,15.2-6.4s11.2,2.4,15.2,6.4s6.4,9.6,6.4,15.2
					s-2.4,11.2-6.4,15.2s-9.6,6.4-15.2,6.4s-10.4-1.6-14.4-5.6C275.2,314.8,272.8,310,272.8,302.8z M279.2,302.8c0,4.8,1.6,8,4.8,11.2
					c3.2,3.2,6.4,4.8,10.4,4.8s8-1.6,11.2-4.8c3.2-3.2,4.8-6.4,4.8-11.2c0-4.8-1.6-8-4.8-11.2c-3.2-3.2-6.4-4.8-11.2-4.8
					c-4,0-8,1.6-11.2,4.8C280.8,294.8,279.2,298.8,279.2,302.8z"/>
				<path style="fill:#F26E21;" d="M338.4,306l12.8,17.6h-8l-12-16.8h-0.8v16.8H324V282h7.2c5.6,0,9.6,0.8,12,3.2c2.4,2.4,4,5.6,4,8.8
					c0,3.2-0.8,5.6-2.4,7.2C343.2,304.4,340.8,306,338.4,306z M330.4,301.2h1.6c5.6,0,8.8-2.4,8.8-6.4s-3.2-6.4-8.8-6.4h-2.4v12.8
					H330.4z"/>
				<path style="fill:#F26E21;" d="M363.2,298.8l16-16.8h8l-18.4,18.4l18.4,22.4h-8L364,304.4l-1.6,1.6v16.8H356v-41.6h6.4v17.6H363.2z
					"/>
			</g>
			<g>
				<polygon style="fill:#3B3D3F;" points="414.4,238 400,238 400,223.6 384,207.6 384,250.8 427.2,250.8 	"/>
				<polygon style="fill:#3B3D3F;" points="356.8,180.4 339.2,225.2 318.4,172.4 301.6,172.4 334.4,253.2 343.2,253.2 368.8,192.4 	"/>
			</g>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 44 33"><use xlink:href="#discover" x="6%" y="10%"></use></svg>
{% elsif icons == 'americanexpress' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="americanexpress" viewBox="75 75 400 400"><title>americanexpress</title>
			<polygon style="fill:#2FABF7;" points="43.2,207.6 60.8,207.6 52,185.2 "/>
			<path style="fill:#228FE0;" d="M261.6,188.4c-1.6-0.8-4-0.8-6.4-0.8h-16v12.8h16c2.4,0,4.8,0,6.4-0.8s2.4-3.2,2.4-5.6
				C264.8,190.8,263.2,189.2,261.6,188.4z"/>
			<path style="fill:#0571C1;" d="M432.8,164.4v9.6l-4.8-9.6h-37.6v9.6l-4.8-9.6h-51.2c-8.8,0-16,1.6-22.4,4.8v-4.8h-36v4.8
				c-4-3.2-8.8-4.8-15.2-4.8H132l-8.8,20l-8.8-20H73.6v9.6l-4.8-9.6H34.4l-16,37.6L0,243.6h18.4h22.4l4.8-12.8h11.2l4.8,12.8H108V234
				l4,9.6h23.2l4-9.6v9.6h111.2v-20.8h1.6c1.6,0,1.6,0,1.6,2.4v17.6h57.6V238c4.8,2.4,12,4.8,21.6,4.8h24l4.8-12.8h11.2l4.8,12.8H424
				v-12l7.2,12h37.6v-78.4H432.8L432.8,164.4z M162.4,231.6h-13.6v-44l-19.2,44h-12l-19.2-44v44H71.2l-5.6-12H38.4l-4.8,12.8H18.4
				l24-56.8h20l22.4,53.6v-53.6h21.6L124,214l16-38.4h22.4V231.6z M216.8,187.6h-31.2V198H216v11.2h-30.4v11.2h31.2v12H172v-56.8h44.8
				V187.6z M276.8,210.8c1.6,3.2,2.4,5.6,2.4,10.4v11.2h-13.6v-7.2c0-3.2,0-8-2.4-11.2c-2.4-2.4-4.8-2.4-9.6-2.4h-14.4v20.8h-13.6
				v-56.8H256c7.2,0,12,0,16,2.4s6.4,6.4,6.4,12.8c0,8.8-5.6,13.6-9.6,15.2C272.8,206.8,275.2,209.2,276.8,210.8z M300.8,231.6h-13.6
				v-56.8h13.6V231.6z M458.4,231.6h-19.2l-25.6-42.4v42.4h-27.2l-4.8-12h-28l-4.8,12.8h-15.2c-6.4,0-14.4-1.6-19.2-6.4
				c-4.8-4.8-7.2-11.2-7.2-21.6c0-8,1.6-16,7.2-22.4c4-4.8,11.2-6.4,20-6.4h12.8v12h-12.8c-4.8,0-7.2,0.8-10.4,3.2
				c-2.4,2.4-4,7.2-4,12.8c0,6.4,0.8,10.4,4,13.6c2.4,2.4,5.6,3.2,9.6,3.2h5.6l18.4-44h20L400,230v-53.6h20l23.2,39.2v-39.2h13.6v55.2
				L458.4,231.6L458.4,231.6z"/>
			<g>
				<polygon style="fill:#228FE0;" points="358.4,207.6 376.8,207.6 368,185.2 	"/>
				<polygon style="fill:#228FE0;" points="222.4,322.8 222.4,277.2 201.6,299.6 	"/>
			</g>
			<polygon style="fill:#2FABF7;" points="136.8,282.8 136.8,293.2 166.4,293.2 166.4,304.4 136.8,304.4 136.8,316.4 169.6,316.4 
				184.8,299.6 170.4,282.8 "/>
			<path id="SVGCleanerId_0" style="fill:#228FE0;" d="M252.8,282.8H236v14.4h17.6c4.8,0,8-2.4,8-7.2
				C260.8,285.2,257.6,282.8,252.8,282.8z"/>
			<path style="fill:#0571C1;" d="M500,296.4v-36h-9.6h-24c-7.2,0-12.8,1.6-16.8,4.8v-4.8h-36.8c-5.6,0-12.8,1.6-16,4.8v-4.8H332v4.8
				c-4.8-4-13.6-4.8-17.6-4.8h-43.2v4.8c-4-4-13.6-4.8-18.4-4.8h-48l-11.2,12l-10.4-12h-72v78.4h70.4l11.2-12l10.4,12h43.2v-18.4h5.6
				c5.6,0,12.8,0,18.4-2.4v21.6h36v-20.8h1.6c2.4,0,2.4,0,2.4,2.4v18.4h108.8c7.2,0,14.4-1.6,18.4-4.8v4.8H472c7.2,0,14.4-0.8,19.2-4
				l0,0c8-4.8,12.8-13.6,12.8-24C504,306,502.4,300.4,500,296.4z M252,309.2h-16v19.2h-25.6l-16-18.4l-16.8,18.4h-52.8v-56.8h53.6
				l16,18.4l16.8-18.4h42.4c10.4,0,22.4,3.2,22.4,18.4C275.2,306,264,309.2,252,309.2z M332,306c1.6,2.4,2.4,5.6,2.4,10.4v11.2h-13.6
				v-7.2c0-3.2,0-8.8-2.4-11.2c-1.6-2.4-4.8-2.4-9.6-2.4h-14.4v20.8h-13.6v-56.8h30.4c6.4,0,12,0,16,2.4s7.2,6.4,7.2,12.8
				c0,8.8-5.6,13.6-9.6,15.2C328.8,302.8,331.2,304.4,332,306z M387.2,282.8H356v10.4h30.4v11.2H356v11.2h31.2v12h-44.8v-56.8h44.8
				V282.8z M420.8,327.6h-25.6v-12h25.6c2.4,0,4,0,5.6-1.6c0.8-0.8,1.6-2.4,1.6-4s-0.8-3.2-1.6-4c-0.8-0.8-2.4-1.6-4.8-1.6
				c-12.8-0.8-28,0-28-17.6c0-8,4.8-16.8,19.2-16.8h26.4v13.6h-24.8c-2.4,0-4,0-5.6,0.8s-1.6,2.4-1.6,4c0,2.4,1.6,3.2,3.2,4
				s3.2,0.8,4.8,0.8h7.2c7.2,0,12,1.6,15.2,4.8c2.4,2.4,4,6.4,4,12C441.6,322,434.4,327.6,420.8,327.6z M489.6,322
				c-3.2,3.2-8.8,5.6-16.8,5.6h-25.6v-12h25.6c2.4,0,4,0,5.6-1.6c0.8-0.8,1.6-2.4,1.6-4s-0.8-3.2-1.6-4c-0.8-0.8-2.4-1.6-4.8-1.6
				c-12.8-0.8-28,0-28-17.6c0-8,4.8-16.8,19.2-16.8h26.4v13.6h-24c-2.4,0-4,0-5.6,0.8s-1.6,2.4-1.6,4c0,2.4,0.8,3.2,3.2,4
				c1.6,0.8,3.2,0.8,4.8,0.8h7.2c7.2,0,12,1.6,15.2,4.8c0.8,0,0.8,0.8,0.8,0.8c2.4,3.2,3.2,7.2,3.2,11.2
				C494.4,314.8,492.8,318.8,489.6,322z"/>
			<path id="SVGCleanerId_1" style="fill:#228FE0;" d="M317.6,284.4c-1.6-0.8-4-0.8-6.4-0.8h-16v12.8h16c2.4,0,4.8,0,6.4-0.8
				s2.4-3.2,2.4-5.6C320.8,286.8,319.2,285.2,317.6,284.4z"/>
			<g>
				<path style="fill:#228FE0;" d="M261.6,188.4c-1.6-0.8-4-0.8-6.4-0.8h-16v12.8h16c2.4,0,4.8,0,6.4-0.8s2.4-3.2,2.4-5.6
					C264.8,190.8,263.2,189.2,261.6,188.4z"/>
				<polygon style="fill:#228FE0;" points="358.4,207.6 376.8,207.6 368,185.2 	"/>
				<polygon style="fill:#228FE0;" points="222.4,322.8 222.4,277.2 201.6,299.6 	"/>
			</g>
			<g>
				<path id="SVGCleanerId_0_1_" style="fill:#228FE0;" d="M252.8,282.8H236v14.4h17.6c4.8,0,8-2.4,8-7.2
					C260.8,285.2,257.6,282.8,252.8,282.8z"/>
			</g>
			<g>
				<path id="SVGCleanerId_1_1_" style="fill:#228FE0;" d="M317.6,284.4c-1.6-0.8-4-0.8-6.4-0.8h-16v12.8h16c2.4,0,4.8,0,6.4-0.8
					s2.4-3.2,2.4-5.6C320.8,286.8,319.2,285.2,317.6,284.4z"/>
			</g>
			<g>
				<polygon style="fill:#2FABF7;" points="247.2,326 236,314 236,327.6 209.6,327.6 193.6,309.2 176,327.6 123.2,327.6 123.2,271.6 
					176.8,271.6 193.6,290 201.6,280.4 181.6,260.4 111.2,260.4 111.2,338.8 181.6,338.8 193.6,326.8 204,338.8 247.2,338.8 	"/>
				<polygon style="fill:#2FABF7;" points="164,242.8 153.6,231.6 148.8,231.6 148.8,226.8 136.8,214.8 128.8,231.6 117.6,231.6 
					98.4,187.6 98.4,231.6 71.2,231.6 65.6,219.6 38.4,219.6 32.8,231.6 18.4,231.6 42.4,175.6 62.4,175.6 84.8,229.2 84.8,175.6 
					96.8,175.6 85.6,164.4 73.6,164.4 73.6,174 69.6,164.4 34.4,164.4 18.4,202 0,242.8 18.4,242.8 41.6,242.8 46.4,230.8 57.6,230.8 
					63.2,242.8 108,242.8 108,233.2 112,242.8 135.2,242.8 139.2,233.2 139.2,242.8 	"/>
				<polygon style="fill:#2FABF7;" points="127.2,206 114.4,193.2 124,214 	"/>
			</g>
			<g>
			<path style="fill:#228FE0;" d="M491.2,334.8c7.2-4.8,12-12.8,12.8-21.6L492.8,302c0.8,2.4,1.6,4.8,1.6,8c0,4.8-1.6,8.8-4.8,12
				c-3.2,3.2-8.8,5.6-16.8,5.6h-25.6v-12h25.6c2.4,0,4,0,5.6-1.6c0.8-0.8,1.6-2.4,1.6-4s-0.8-3.2-1.6-4c-0.8-0.8-2.4-1.6-4.8-1.6
				c-12.8-0.8-28,0-28-17.6c0-8,4.8-15.2,16.8-16.8l-8.8-8.8c-1.6,0.8-2.4,1.6-3.2,1.6V258h-36.8c-5.6,0-12.8,1.6-16,4.8V258H332v4.8
				c-4.8-4-13.6-4.8-17.6-4.8h-43.2v4.8c-4-4-13.6-4.8-18.4-4.8h-48l-11.2,12l-10.4-12h-8.8l24,24l12-12.8h42.4
				c10.4,0,22.4,3.2,22.4,18.4c0,16-11.2,19.2-23.2,19.2h-16v12l12,12v-12h4c5.6,0,12.8,0,18.4-2.4V338h36v-20.8h1.6
				c2.4,0,2.4,0,2.4,2.4V338h108.8c7.2,0,14.4-1.6,18.4-4.8v4.8H472C478.4,338.8,485.6,338,491.2,334.8L491.2,334.8z M332,306
				c1.6,2.4,2.4,5.6,2.4,10.4v11.2h-13.6v-7.2c0-3.2,0-8.8-2.4-11.2c-1.6-2.4-4.8-2.4-9.6-2.4h-14.4v20.8h-13.6v-56.8h30.4
				c6.4,0,12,0,16,2.4s7.2,6.4,7.2,12.8c0,8.8-5.6,13.6-9.6,15.2C328.8,302.8,331.2,304.4,332,306z M387.2,282.8H356v10.4h30.4v11.2
				H356v11.2h31.2v12h-44.8v-56.8h44.8V282.8z M420.8,327.6h-25.6v-12h25.6c2.4,0,4,0,5.6-1.6c0.8-0.8,1.6-2.4,1.6-4s-0.8-3.2-1.6-4
				c-0.8-0.8-2.4-1.6-4.8-1.6c-12.8-0.8-28,0-28-17.6c0-8,4.8-16.8,19.2-16.8h26.4v13.6h-24.8c-2.4,0-4,0-5.6,0.8s-1.6,2.4-1.6,4
				c0,2.4,1.6,3.2,3.2,4s3.2,0.8,4.8,0.8h7.2c7.2,0,12,1.6,15.2,4.8c2.4,2.4,4,6.4,4,12C441.6,322,434.4,327.6,420.8,327.6z"/>
			<path style="fill:#228FE0;" d="M459.2,288.4c0,2.4,0.8,3.2,3.2,4c1.6,0.8,3.2,0.8,4.8,0.8h7.2c4.8,0,8,0.8,11.2,2.4l-12-12h-7.2
				c-2.4,0-4,0-5.6,0.8C460,285.2,459.2,286.8,459.2,288.4z"/>
			<polygon style="fill:#228FE0;" points="431.2,240.4 432.8,242.8 433.6,242.8 	"/>
			<polygon style="fill:#228FE0;" points="387.2,196.4 400.8,229.2 400.8,210 	"/>
			<path style="fill:#228FE0;" d="M250.4,222.8h1.6c1.6,0,1.6,0,1.6,2.4v17.6h57.6V238c4.8,2.4,12,4.8,21.6,4.8h24l4.8-12.8h11.2
				l4.8,12.8H424v-8l-11.2-11.2v8.8h-27.2l-4-12.8h-28l-4.8,12.8h-15.2c-6.4,0-14.4-1.6-19.2-6.4c-4.8-4.8-7.2-11.2-7.2-21.6
				c0-8,1.6-16,7.2-22.4c4-4.8,11.2-6.4,20-6.4h12.8v12h-12.8c-4.8,0-7.2,0.8-10.4,3.2c-2.4,2.4-4,7.2-4,12.8c0,6.4,0.8,10.4,4,13.6
				c2.4,2.4,5.6,3.2,9.6,3.2h5.6l18.4-44h8l-11.2-11.2h-20.8c-8.8,0-16,1.6-22.4,4.8v-4.8H276v4.8c-4-3.2-8.8-4.8-15.2-4.8H132
				l-8.8,20l-8.8-20H79.2l11.2,11.2h16L120,206l4.8,4.8l14.4-35.2h22.4v56.8H148v-44l-13.6,32l23.2,23.2h92L250.4,222.8z M287.2,175.6
				h13.6v56.8h-13.6V175.6z M216.8,187.6h-31.2V198H216v11.2h-30.4v11.2h31.2v12H172v-56.8h44.8V187.6z M239.2,231.6h-13.6v-56.8H256
				c7.2,0,12,0,16,2.4s6.4,6.4,6.4,12.8c0,8.8-5.6,13.6-9.6,15.2c3.2,0.8,5.6,3.2,6.4,4.8c1.6,3.2,2.4,5.6,2.4,10.4v11.2H264v-7.2
				c0-3.2,0-8-2.4-11.2c-0.8-1.6-3.2-1.6-8-1.6h-14.4L239.2,231.6L239.2,231.6z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 44 33"><use xlink:href="#americanexpress" x="3%" y="8%"></use></svg>
{% elsif icons == 'googlewallet' %}
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      	<symbol id="googlewallet" viewBox="75 75 360 360"><title>googlewallet</title>
			<path style="fill:#FFFFFF;" d="M512,402.281c0,16.716-13.55,30.267-30.265,30.267H30.265C13.55,432.548,0,418.996,0,402.281V109.718
				c0-16.716,13.55-30.266,30.265-30.266h451.47c16.716,0,30.265,13.551,30.265,30.266V402.281L512,402.281z"/>
			<path style="fill:#1476C6;" d="M356.542,132.331h-13.356c-4.611,0-8.348-3.736-8.348-8.348c0-4.612,3.736-8.348,8.348-8.348h13.356
				c4.611,0,8.348,3.736,8.348,8.348C364.89,128.595,361.153,132.331,356.542,132.331z"/>
			<path style="fill:#ED114C;" d="M393.644,132.331h-13.356c-4.611,0-8.348-3.736-8.348-8.348c0-4.612,3.736-8.348,8.348-8.348h13.356
				c4.611,0,8.348,3.736,8.348,8.348C401.992,128.595,398.255,132.331,393.644,132.331z"/>
			<path style="fill:#F98E19;" d="M430.746,132.331H417.39c-4.611,0-8.348-3.736-8.348-8.348c0-4.612,3.736-8.348,8.348-8.348h13.356
				c4.611,0,8.348,3.736,8.348,8.348C439.094,128.595,435.357,132.331,430.746,132.331z"/>
			<path style="fill:#48C92D;" d="M467.846,132.331H454.49c-4.611,0-8.348-3.736-8.348-8.348c0-4.612,3.736-8.348,8.348-8.348h13.356
				c4.611,0,8.348,3.736,8.348,8.348C476.194,128.595,472.457,132.331,467.846,132.331z"/>
			<path style="fill:#1476C6;" d="M323.76,387.217H188.24c-4.611,0-8.348-3.736-8.348-8.348s3.736-8.348,8.348-8.348h135.52
				c4.611,0,8.348,3.736,8.348,8.348C332.107,383.48,328.371,387.217,323.76,387.217z"/>
			<path style="fill:#48C92D;" d="M334.633,212.653c-3.161-13.034-7.506-26.066-13.43-38.312c-3.159-6.32-9.874-10.665-16.987-10.665
				c-2.765,0-5.526,0.791-7.898,1.975c-9.479,4.342-13.43,15.8-8.689,24.884c9.479,20.145,14.217,41.474,14.217,63.591
				c0,22.121-4.739,43.452-14.217,63.199c0,0.398-1.973,3.95-1.973,7.904c0,1.184,0,2.763,0.395,4.343
				c1.183,5.134,4.739,10.27,10.268,12.64c2.372,1.184,5.132,1.973,7.898,1.973c6.717,0,13.039-3.951,16.593-9.875
				c3.552-7.109,7.504-16.196,10.663-28.043c1.186-3.555,1.976-7.112,2.765-10.664c3.161-13.431,4.739-27.255,4.739-41.478
				C339.374,240.304,337.792,226.084,334.633,212.653z"/>
			<path style="fill:#ED114C;" d="M256.747,193.3c-0.394-0.396-0.789-1.186-1.184-1.579c-1.184-1.582-2.765-3.161-4.343-3.951
				c-0.85-0.728-1.779-1.291-2.755-1.743c-0.004-0.077-0.009-0.155-0.011-0.23c-1.015-0.341-2.028-0.589-3.041-0.784
				c-0.071-0.014-0.144-0.029-0.213-0.043c-0.21-0.039-0.422-0.071-0.634-0.105c-0.417-0.068-0.839-0.12-1.266-0.158
				c-0.098-0.009-0.196-0.02-0.296-0.028c-0.552-0.041-1.106-0.069-1.661-0.069c-2.763,0-4.343,0.394-6.32,1.184
				c-1.973,0.79-4.343,1.973-6.322,3.948c-1.973,1.977-3.157,4.345-3.948,6.716c-1.578,4.344-1.578,10.665,1.581,15.402
				c6.32,9.877,9.874,21.331,11.059,33.181c0.397,3.16,0.397,6.318,0.397,9.48c0,15.009-3.952,29.625-11.854,42.661l-0.787,0.789
				c-0.431,0.859-0.739,1.838-0.997,2.865c-0.274,0.877-0.459,1.751-0.577,2.628c-0.002,0.011-0.004,0.023-0.007,0.036
				c0-0.002,0.002-0.003,0.002-0.006c-0.187,1.451-0.185,2.902-0.002,4.353c0.395,5.527,3.554,10.662,8.689,13.824
				c1.184,0.788,2.765,1.184,3.95,1.973c1.583,0.394,3.556,0.79,5.134,0.79c6.322,0,11.848-3.162,15.404-8.691
				c9.876-16.195,15.407-34.366,16.985-53.325c0-2.37,0.395-5.133,0.395-7.504C273.732,232.405,267.805,211.47,256.747,193.3z"/>
			<path style="fill:#F98E19;" d="M301.059,237.538c-11.493-18.541-27.865-34.992-47.147-47.723c0.598,0.598,1.159,1.25,1.65,1.906
				c0.395,0.393,0.791,1.183,1.184,1.579c11.059,18.169,16.985,39.104,17.38,61.618c0,2.371-0.395,5.134-0.395,7.504
				c-0.05,0.602-0.116,1.201-0.174,1.802c8.211,16.351,12.494,34.765,12.494,53.892v5.532v0.394c0-1.973,0.789-4.344,1.183-6.318
				c0.395,0,0.395-0.398,0.395-0.398c9.479-19.748,14.217-41.079,14.217-63.199C301.846,246.624,301.451,241.094,301.059,237.538z"/>
			<path style="fill:#1476C6;" d="M224.152,300.838c0.258-1.027,0.568-2.006,0.997-2.865l0.787-0.789
				c7.903-13.036,11.854-27.651,11.854-42.661c0-3.162,0-6.32-0.397-9.48c-0.032-0.318-0.071-0.636-0.107-0.954
				c-1.548-2.075-3.207-4.11-4.956-6.103c-0.004-0.004-0.009-0.01-0.016-0.016c-0.443-0.505-0.892-1.007-1.348-1.507
				c-5.305-5.88-11.295-11.297-17.804-16.121c-0.114-0.082-0.222-0.169-0.331-0.254c0,0.002,0,0.006,0.002,0.009
				c-4.754-3.498-9.778-6.685-15.015-9.491c-2.367-1.183-5.132-1.973-7.898-1.973c-6.318,0-11.849,3.556-15.006,9.086
				c-4.348,8.292-1.186,18.563,7.109,22.909c22.578,12.184,37.985,34.13,42.124,60.221
				C224.149,300.844,224.149,300.841,224.152,300.838z"/>
		</symbol>
  	</svg>
  	<svg class="icon" viewBox="0 0 44 33"><use xlink:href="#googlewallet" x="0%" y="0%"></use></svg>
{% endif %}