<div class="search-title clearfix">
  <span class="search-toggle">{% include 'icons' with 'search' %}</span>
</div>
<div  id="search-container-full" class="search-info">
    <form action="/search" method="get" class="search-header search search--focus" role="search">
       <input type="hidden" name="type" value="product">
      <input class="search-header__input search__input"
        type="search"
        name="q"
        placeholder="{{ 'general.search.placeholder' | t }}"
        aria-label="{{ 'general.search.placeholder' | t }}">
      <button class="search-header__submit search__submit btn--link" type="submit">
        <span class="search-logo"> <i class="material-icons">search</i> </span>
        <span class="icon__fallback-text hidden-lg-down">{{ 'general.search.button-text' | t }}</span>
      </button>
    </form>
  </div>